.body{
	background-image: url(school.jpg);
}

.locker{
	position: absolute;
	height: 110px;
	left: 530px;
	top: 420px;
	user-select: none;
}

.choice-player-1{
	position: absolute;
	top: 400px;
	left: 300px;
    height: 400px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.choice-player-2{
	position: absolute;
    top: 400px;
	left: 1200px;
    height: 400px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.text{
	position: absolute;
	color: white;
	font-family: Arial;
	user-select: none;
	left: 700px;
	display: none;
}

.top1{
	top: 200px;
}

.top2{
	top: 240px;
}

.top3{
	top: 280px;
}

.paper{
	position: absolute;
	height: 40px;
	left: 817px;
	top: 480px;
	user-select: none;
}

.back{
	position: absolute;
	height: 200px;
	left: 1610px;
	top: 90px;
	display: none;
	user-select: none;
}

.answers{
	position: absolute;
	height: 20px;
	color: white;
	font-family: Arial;
	top: 650px;
	user-select: none;
}

.klass{
	position: absolute;
	height: 120px;
	top: 650px;
	left: 1450px;
	user-select: none;
}

.izklassa{
	position: absolute;
	height: 110px;
	top: 600px;
	left: 1630px;
	user-select: none;
	display: none;
}

.loh{
	position: absolute;
	height: 690px;
	left: 800px;
	top: 200px;
	user-select: none;
	display: none;
}

.rebus{
	position: absolute;
	left: 650px;
	top: 300px;
	user-select: none;
	display: none;
}

.zamok{
	position: absolute;
	left: 700px;
	top: 200px;
	user-select: none;
	display: none;
}

.zamok2{
	position: absolute;
	left: 700px;
	top: 200px;
	user-select: none;
	display: none;
}

.money{
	position: absolute;
	font-size: 60px;
	color: white;
	font-family: Arial;
	top: 20px;
	user-select: none;
}

.l {
	position: absolute;
	font-family: Arial;
	color: black;
	font-size: 60px;
	left: 880px;
	top: 100px;
	user-select: none;
	display: none;
}

.i {
	position: absolute;
	font-family: Arial;
	color: black;
	font-size: 60px;
	left: 920px;
	top: 100px;
	user-select: none;
	display: none;
}

.s {
	position: absolute;
	font-family: Arial;
	color: black;
	font-size: 60px;
	left: 960px;
	top: 100px;
	user-select: none;
	display: none;
}

.a {
	position: absolute;
	font-family: Arial;
	color: black;
	font-size: 60px;
	left: 1000px;
	top: 100px;
	user-select: none;
	display: none;
}

.knb{
	position: absolute;
	height: 500px;
	left: 550px;
	top: 450px;
	display: none;
	user-select: none;
}

.stolovka{
	position: absolute;
	height: 100px;
	left: 650px;
	top: 440px;
	user-select: none;
}

.sphere {
	background-image: url(redapple.png);
	background-size: 100% 100%;
	width: 100px;
	height: 100px;
	position: absolute;
	border-radius: 100px;
	transition: all 0.8s ease-out;
	top: -100px;
	user-select: none;
}

.ground {
	position: absolute;
	width: 1900px;
	height: 50px;
	top:  900px;
}

.pobeda {
	position: absolute;
	height: 440px;
	left: 730px;
	top: 300px;
	display: none;
}